.RightSide{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.navIcons{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}


.navIcons>img{
    width: 1.5rem;
    height: 1.5rem;
}
.navIcons>a>img{
    width: 1.5rem;
    height: 1.5rem;
}


.r-button{
    height: 3rem;
    width: 80%;
    align-self: center;
}

.activ-nav{
    box-shadow: 0 0 6px 5px orange;
    border-radius: 6px; 
    padding: 4px;
    background: rgb(233, 233, 233);
    border-radius: 0.5rem;
}