extends baseEmail

block content
  div(style='text-align: center;')
    img(src='https://drive.google.com/uc?export=download&id=1Op0gFgdjZf7Z8ncL-j1JyG6ZuPd1gmcN')
    h1(style='margin-bottom:0px') Social Scape
    h3(style='margin-top:0px') Welcome to Social Scape, where every idea fits right in!
  p(style='text-align: justify') Hi #{firstName} #{lastName},
  p(style='text-align: justify') We received a request related to your account. If you didn't make this request, just ignore this email. Otherwise, you can proceed with the following link:
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Proceed Here
  p(style='text-align: justify') This link will expire in 10 mins, so be sure to use it right away.
  p(style='text-align: justify') If you're receiving this email because you've forgotten your password or need to activate your account, clicking the link will allow you to set a new password and activate your account.
  p(style='text-align: justify') Thank you for using our site!
